* {
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

header {
    font-size: large;
    text-align: center;
    background-color: rgb(165, 30, 30);
    color: rgb(255, 255, 255);
    padding: 45px;
    line-height:75px;
}

h3 {
    font-size: larger; 
    text-align: center;
}

.body {
    padding: 50px;
}

a {
  cursor: pointer;
  font-weight: bolder;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

footer {
    padding: 45px;
    text-align: center;
    font-size: large;
    background-color: rgb(165, 30, 30);
}
