.rationale-regular {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Rationale";
}

header {
  margin: 10px;
  font-size: 40px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.body1 {
  display:flex;
  justify-content: center;
  font-size: 20px;
  padding: 10px 30px 0px;
}

.body1 ul {
  list-style-type: none;
  line-height: 175%;
}

.statecolumn {
  width: 250px;
}

footer {
  background-color: #b51d40;
  padding-left: 80px;
}

/* MYSTERY BC W3 */

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 80px;
  overflow: hidden;
  background-color: #b51d40;
}

nav li {
  float: left;
}

nav li a, .dropbtn, footer a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content, .dropdown-content1 {
  display: none;
  flex-direction: row;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a, .dropdown-content1 a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 17px;
  padding: 8px;
}

.dropdown-content a:hover, .dropdown-content1 a:hover {
  background-color: #c1c0c0;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content1 {
  display: flex;
}
