.rationale-regular {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Rationale";
  letter-spacing: 1.25px;
}

header {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}


body {
  margin: 0;
  padding: 0;
}

main {
  padding: 0px 250px;
}

footer {
  background-color: hsl(346, 72%, 41%);
  position: relative;
  top: 50px;
}

/* MYSTERY FROM W3 & PATRICK COLE FROM VA*/

nav ul {
  list-style-type: none;
  margin: 0;
  position:relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(346, 72%, 41%);
}

nav li {
  flex: 0 0 auto;
  padding: 0 20px;
}

nav li a, .dropbtn, footer a {
  display: block;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: hsl(0, 100%, 50%);
}

nav li.dropdown {
  display: inline-block;
  z-index: 5;  
}

.dropdown-content, .dropdown-content1 {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
  top:auto;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
}

.dropdown-content a, .dropdown-content1 a {
  color: hsl(0, 0%, 0%);
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 17px;
  padding: 8px;
}

.dropdown-content a:hover, .dropdown-content1 a:hover {
  background-color: hsl(0, 0%, 90%);
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content1 {
  display: flex;
  justify-content: center;
}


/* book list and reading guides */

