/* MAIN LAYOUT */

.rationale-regular {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Anta", "Rationale", sans-serif;
  letter-spacing: 1.25px;
  word-spacing: 4%;
  line-height: 125%;
}

header {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  padding: 40px 0px;
}

header a{
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 5%);
}

header a:hover {
  color: hsl(105, 55%, 35%);
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 5%);
  color:hsl(0, 0%, 100%)
}

footer {
  background-color: hsl(105, 50%, 15%);
  position: relative;
  top: 50px;
  text-align: center;
}

footer a {
  display: inline-block;
  color: hsl(0, 0%, 100%);
  padding: 30px 16px;
  text-decoration: none;
  font-size: 24px;
}
/* MYSTERY DROPDOWN FROM W3 & PATRICK COLE FROM VA*/

nav ul {
  list-style-type: none;
  margin: 0;
  position:relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(105, 50%, 15%);
}

nav li {
  flex: 0 0 auto;
  padding: 0px 20px;
}

nav li a,
.dropbtn {
  display: block;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 24px;
}

nav li a:hover,
.dropdown:hover .dropbtn,
footer a:hover {
  background-color: hsl(105, 50%, 20%);
}

nav li.dropdown {
  display: inline-block;
  z-index: 5;
}

.dropdown-content,
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 21%);
  box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
  top:auto;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
}

.dropdown-content a,
.dropdown-content1 a,
.dropdown-search a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 17px;
  padding: 8px 12px;
  width: 200px;
}

.dropdown-content a:hover,
.dropdown-content1 a:hover,
.dropdown-search a:hover {
  background-color: hsl(0, 0%, 40%);
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content1,
.dropdown:hover .dropdown-search{
  display: flex;
  justify-content: center;
}

.dropdown-search {
  display:none;
  position:absolute;
  background-color:  hsl(0, 0%, 98%);
  color: black;
  box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
  padding: 10px;
  min-width: 230px;
}

#myInput {
  box-sizing: border-box;
  background-image: url('https://www.flaticon.com/free-icons/magnifying-glass');
  /* ATTRIBUTION FOR SEARCH ICON */
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 18px;
  padding: 14px 25px 12px 45px;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 100%);
  color: black;
}

#myInput:focus {
  outline: 3px solid hsl(0, 0%, 41%);
}



/* 

main states page
main majors page
individual state pages with list of schools

*/

main {
  display:flex;
  justify-content: center;
}

main ul {
  list-style-type: none;
  line-height: 175%;
  font-size: 20px;
}

main a {
  font-size: 20px;
}

h1 {
  text-align: center;
  padding: 30px 0px 0px;
  font-size: 45px;
}

a {
  color: hsl(0, 0%, 100%);
}

.majorcolumn1 a:hover,
.statecolumn1 a:hover,
.column a:hover {
  color: hsl(105, 80%, 35%);
}

.statecolumn1 {
  width: 200px;
}

.majorcolumn1, .column {
  width: 390px;
}

.column li {
  line-height: 165%;
}

/* try to get it to wrap in the right way */
@media (max-width: 600px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
}

