.rationale-regular {
  font-family: "Rationale", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Rationale";
  letter-spacing: 0.75px;
}

header {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display:flex;
  justify-content: center;
  font-size: 20px;
  padding: 0px 50px 0px;
}

h1 {
  text-align: center;
}

main ul {
  list-style-type: none;
  line-height: 175%;
}

.statecolumn {
  width: 250px;
}

footer {
  background-color: #b51d40;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* MYSTERY FROM W3 */

nav ul {
  list-style-type: none;
  margin: 0;
  position:relative;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #b51d40;
}

nav li {
  flex: 0 0 auto;
  padding: 0 20px;
}

nav li a, .dropbtn, footer a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

nav li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content, .dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  top:auto;
  left: 0;
  right: 0;
  margin: 0;
  padding: 10px;
}

.dropdown-content a, .dropdown-content1 a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 17px;
  padding: 8px;
}

.dropdown-content a:hover, .dropdown-content1 a:hover {
  background-color: #c1c0c0;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content1 {
  display: flex;
  justify-content: center;

}

